<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulaire Contact</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>
<body>

  <div class="parent">
    <div class="container" id="container">
        <div class="form-container">
            <form [formGroup]="contactForm" (ngSubmit)="addOrUpdateContact()">
                <h1>{{ isEditing ? 'Modifier un Contact' : 'Ajouter un Nouveau Contact' }}</h1>

                <span>Remplissez les informations ci-dessous</span>

                <input type="text" formControlName="nom" placeholder="Nom">
                <div *ngIf="contactForm.get('nom')?.invalid && (contactForm.get('nom')?.touched || contactForm.get('nom')?.dirty)">
                  <div *ngIf="contactForm.get('nom')?.errors?.['required']" class="error-message">Le nom est requis.</div>
                  <div *ngIf="contactForm.get('nom')?.errors?.['minlength']" class="error-message">Le nom doit contenir au moins 2 caractères.</div>
                </div>

                <input type="text" formControlName="prenom" placeholder="Prénom">
                <div *ngIf="contactForm.get('prenom')?.invalid && (contactForm.get('prenom')?.touched || contactForm.get('prenom')?.dirty)">
                  <div *ngIf="contactForm.get('prenom')?.errors?.['required']" class="error-message">Le prénom est requis.</div>
                  <div *ngIf="contactForm.get('prenom')?.errors?.['minlength']" class="error-message">Le prénom doit contenir au moins 2 caractères.</div>
                </div>

                <input type="email" formControlName="email" placeholder="Email">
                <div *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.touched || contactForm.get('email')?.dirty)">
                  <div *ngIf="contactForm.get('email')?.errors?.['required']" class="error-message">L'email est requis.</div>
                  <div *ngIf="contactForm.get('email')?.errors?.['email']" class="error-message">L'email doit être valide.</div>
                </div>

                <input type="text" formControlName="telephone" placeholder="Téléphone">
                <div *ngIf="contactForm.get('telephone')?.invalid && (contactForm.get('telephone')?.touched || contactForm.get('telephone')?.dirty)">
                  <div *ngIf="contactForm.get('telephone')?.errors?.['required']" class="error-message">Le numéro de téléphone est requis.</div>
                  <div *ngIf="contactForm.get('telephone')?.errors?.['pattern']" class="error-message">Le numéro de téléphone doit contenir exactement 9 chiffres.</div>
                </div>

                <textarea formControlName="description" placeholder="Description"></textarea>

                <button type="submit" [disabled]="contactForm.invalid">{{ isEditing ? 'Enregistrer les Modifications' : 'Ajouter' }}</button>
            </form>
        </div>
    </div>
  </div>

</body>
</html>
